    .styling_events {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding-top: 5em;
        padding-left: 2em;
        padding-right: 2em;
    }

    img {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/5;
        z-index: 1;
        cursor: pointer;
    }

img:hover{
    opacity: 0.6;
}




    h1 {
        grid-column: 1/2;
        grid-row: 4/5;
        z-index: 2;
        text-align: center;
        background: white;
        margin: 0;
        opacity: 0.8;
        padding-top: 1rem;
        font-family: 'Heebo', sans-serif;
        font-weight: 300;
    }

    a {
        text-decoration: none;
        color: black;
    }

    @media screen and (min-width:508px) {
        .styling_events {
            padding-top: 5em;
            padding-left: 6em;
            padding-right: 6em;
        }
    }

    @media screen and (min-width:768px) {
        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .styling_events {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            padding-top: 5em;
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    @media screen and (min-width:1000px) {
        .styling_events {
            padding-top: 5em;
            padding-left: 6em;
            padding-right: 6em;
        }
    }
