body{
    margin: 0;
}

.stylingeventListview{
    background-color: #6c9a95;
}

.heading{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding-top: 1em;
    color: #e8b931;
}

.description{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}

@media screen and (min-width:640px){
    .description{
    padding-left: 5em;
    padding-right: 5em;
}
}

@media screen and (min-width:780px){
    .description{
    padding-left: 8em;
    padding-right: 8em;
}
}

@media screen and (min-width:920px){
    .description{
    padding-left: 10em;
    padding-right: 10em;
    font-size: 1.2em;
}
}

@media screen and (min-width:1100px){
    .description{
    padding-left: 14em;
    padding-right: 14em;
    font-size: 1.2em;
}
}

@media screen and (min-width:1300px){
    .description{
    padding-left: 16em;
    padding-right: 16em;
    font-size: 1.2em;
}
}

/*styling af event boksene*/

.portfolioListview{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.heading_events{
    grid-column: 1/2;
    grid-row: 4/5;
    z-index: 2;
    text-align: center;
    background: white;
    margin: 0;
    opacity: 0.8;
    padding-top: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}

img{
    width: 100%;
    grid-column: 1/2;
    grid-row:1/5;
    z-index: 1;
}

@media screen and (min-width:540px){
    .events_portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .heading_events{
        font-size: 2vw;
        padding-top: 1.5rem;
    }
}

@media screen and (min-width:1000px){
    .events_portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .heading_events{
        font-size: 1.5vw;
        padding-top: 1.5rem;
    }
}

/*til toppen knap*/

#button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
