
  #indholdet_footer{
       margin-top: 20px;


    }
.ikoner,
.indholdet{
        text-align: center;


    }

#desktop_indholdet{
        display: none;
    }

a{
        color: black;
        text-decoration: none;
    font-family: 'Heebo', sans-serif;
    }

h3{
        font-family: 'Heebo', sans-serif;
    }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: white;
  color: grey;
}

.fa-instagram {
 background: white;
  color: grey;
}

.fa-pinterest {
 background: white;
  color: grey;
}

@media screen and (min-width:768px) {

    #indholdet_footer{
        display: none;


    }

#desktop_indholdet{
    display:block;
    text-align: center;
    margin-top: 20px;


    }}

