.mobil {
    display: grid;
    background-color: white;
    width: 100%;
    margin-bottom: 40px;
}

.burgermenu {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.burger {
    cursor: pointer;
    background: white;
    border: none;
    justify-self: end;
    padding-bottom: 3em;
    padding-right: 1em;
    padding-left: 3em;
    padding-top: 3em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: repeat(4, 1fr);

}

.nav_logo {
    width: 250px;
    display: none;
    cursor: pointer;
}

.nav_burger_logo {
    width: 240px;
    padding-top: 1.5em
}

li {
    padding-top: 30px;
    cursor: pointer;
    text-align: center;
    font-family: heebo, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgrey;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    overflow: hidden;
    transition: 0s;
}

nav.show {
    max-height: 500px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-2px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-4px, -8px);
}




@media screen and (min-width:768px) {

    .burgermenu {
        display: none;
    }

    .mobil {
        display: none;
    }

    .desktop_nav {
        margin-bottom: 50px;
        display: grid;



    }

    .list {
        padding-top: 30px;
        cursor: pointer;
        text-align: center;
        font-family: heebo, sans-serif;
        text-decoration: none;
        color: black;
        font-weight: 100;
    }

    .billede_li {
        margin-top: -10%;
        cursor: pointer;

    }

    .nav_logo {

        display: block;
        justify-self: center;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        padding-top: 30px;
    }

    a {
        text-decoration: none;
        text-align: center;
        font-family: heebo, sans-serif;
        text-decoration: none;
        color: black;
        font-weight: 100;


    }

    .dropdown {

  display: inline-block;
        overflow: hidden;
        transition: .3s;
    }

    .dropdown-content {
        z-index: 90;
        display: none;

   position:absolute;
        top: 60px;

        width: 20%;


        transition: .3s;
        text-align-last: center;

    }

  .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
 cursor: pointer;



}
    .dropdown:hover .dropdown-content {
       display:inline-grid;

        color: black;
/*        position: fixed;*/
        text-align-last: center;
    }
}
