
.mobil {
    display: grid;
    background-color: white;
    position: fixed;
    width: 100%;


}

.burgermenu {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.burger {
    cursor: pointer;
    background: white;
    border: none;
    justify-self: end;
    padding: 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: repeat(4, 1fr);

}

.nav_logo {
    width: 250px;
    display: none;

}

.nav_burger_logo {
    width: 240px;
}

li {
    padding-top: 30px;
    cursor: pointer;
    text-align: center;
    font-family: heebo, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

a{
        text-decoration: none;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    max-height: 0px;
    overflow: hidden;
    transition: 0s;
    table-layout: red;
    color: blue;
}

nav.show {
    max-height: 500px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-2px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-4px, -8px);
}


@media screen and (min-width:768px) {


    .mobil{
        display: none;
    }



    nav {
        max-height: 200px;
        display: grid;
        grid-template-columns: repeat (6, 1fr);
    }


    .nav_logo {

        display: block;
        justify-self: center;
    }

    .burgermenu {
        display: none;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
          padding-top: 30px;
    }

    a{
        text-decoration: none;
    }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;}


}
