/*slideshow*/

.slideshow {
    max-width: 1000px;
    position: relative;

}

.slideshow img {
    width: 100%;
}

.slideNumber {
    color: #fFF;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: transparent;
}

.slideText {
    color: #FFF;
    font-size: 15px;
    padding: 20px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    margin: 0 20px;
    background-color: transparent;
}

.prev:hover,
.next:hover {
    font-size: 3.2em;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slide {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

body {
    display: block;
    font-family: 'Heebo', sans-serif;
}

.image {
    width: 100%;
}

.projektListview {
    background-color: #B07762;

}

.projektListview p {
    font-size: 0.8em;
    padding: 4vw;
    background-color: #B07762;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
}

.projektListview h1 {
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    margin-top: 9vw;
    margin-bottom: -8vw;

}

.projektListview img {
    max-width: 330px;
    display: block;
    margin: auto;
    padding-top: 6vw;
}



@media screen and (min-width:767px) {
    .row1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .projektListview img {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .column1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.videoListview p {
    text-align: center;
    margin-top: 15vw;
    margin-bottom: 10vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
}



.videoListview iframe {
    width: 100%;
}


/*om side*/


body {
    margin: 0;
}

.stylingeventListview {
    text-align: left;
    padding: 6vw;
    margin: 2vw;
    font-size: 0.7em;
    margin-bottom: 7vw;


}

.stylingeventListview h1 {
    color: black;
    font-size: 1.4em;

}

.heading {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 2em;
    padding-top: 1em;
    color: #e8b931;
}

.description {

    font-family: 'Heebo', sans-serif;
    font-weight: 100;
}

@media screen and (min-width:640px) {


    .stylingeventListview {
        text-align: left;
        font-size: 0.9em;


    }

    .stylingeventListview h1 {
        color: black;
        font-size: 1.8em;

    }

    .videoListview p {
        text-align: center;
        margin-top: 10vw;
        margin-bottom: 7vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        font-size: 1.2em;

    }

    .projektListview {
        font-size: 0.9em;
        background-color: #B07762;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
    }

    .projektListview h1 {
        font-weight: 100;
        font-size: 2em;
        text-align: center;
        font-family: 'Heebo', sans-serif;
        margin-top: 8vw;

    }

    .column1 img {
        max-width: 600px;
        display: block;
        margin: auto;

    }

    .videoListview iframe {
        width: 70%;
    }
}

@media screen and (min-width:780px) {


    .videoListview p {
        text-align: center;
        margin-top: 10vw;
        margin-bottom: 7vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        font-size: 1.1em;
    }

    .projektListview p {
        font-size: 0.95em;
        background-color: #B07762;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        padding-left: 2vw;
        padding-right: 1vw;

    }

    .projektListview h1 {
        font-weight: 100;
        font-size: 2.2em;
        text-align: center;
        font-family: 'Heebo', sans-serif;
        margin-top: 9vw;

    }

    .projektListview img {
        max-width: 450px;
        margin-top: -6vw;


    }

    .stylingeventListview {
        text-align: left;
        font-size: 0.9em;
        text-align: left;
        padding: 10vw;


    }

}

@media screen and (min-width:920px) {

    .videoListview iframe {
        width: 60%;
    }
}

@media screen and (min-width:1100px) {


    .stylingeventListview {
        text-align: left;
        padding: 2vw;
        margin: 3vw;
        font-size: 1em;


    }

    .stylingeventListview h1 {
        color: black;
        font-size: 2em;

    }

    .videoListview iframe {
        width: 50%;
    }
}

@media screen and (min-width:1300px) {

    .videoListview iframe {
        width: 40%;
        margin-top: -2vw;
    }

    .stylingeventListview {
        text-align: left;
        padding: 15vw;
        margin: 3vw;
        font-size: 1.3em;
        margin-top: -5vw;


    }

    .stylingeventListview h1 {
        color: black;
        font-size: 2em;

    }

    .projektListview p {
        font-size: 1.2em;
        background-color: #B07762;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        padding-left: 2vw;
        padding-right: 1vw;

    }

    .projektListview h1 {
        font-weight: 100;
        font-size: 2.2em;
        text-align: center;
        font-family: 'Heebo', sans-serif;


    }

    .projektListview img {
        max-width: 650px;


    }

    .videoListview p {

        font-size: 1.3em;
        margin-bottom: 10vw;
    }
}











/*  INTERAKTIV SVG*/
@media only screen and (max-width:793px) {

    #santa_container {
        display: none;
    }
}

#santa_container {
    position: absolute;
    top: auto;
    right: 40px;
}

#santa_sprite {
    background-image: url(../nisse-01.svg);
    background-size: 200% 100%;

    width: 15vw;
    height: 22vw;

    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: steps(2);
    /* Safari 4.0 - 8.0 */

    animation-name: example;

    animation-fill-mode: both;


    animation-iteration-count: infinite;




}

@-webkit-keyframes example {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;


    }
}

.tooltip {
    position: relative;
    display: inline-block;
}


.button:hover {
    cursor: pointer;
}

.tooltip .tooltiptext {

    font-family: 'Heebo', sans-serif;
    font-weight: 100;

    visibility: hidden;
    width: 220px;
    background-color: #6CB4BE;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: -80%;
    margin-left: 60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}





/*    --------til toppen knappen----------*/

#button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
