
.slideshow {
display: none;


}

body {
    display: block;
    font-family: 'Heebo', sans-serif;
     margin: 0;
}

.image {
    width: 100%;
}

.row1{
      background-color: rgba(176, 119, 98, 0.71);
}



/*om side*/



.stylingeventListview {
    text-align:justify;
    padding: 6vw;
    margin: 2vw;
    font-size: 0.7em;
    margin-bottom: 7vw;


}

.heading {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    color: #B07761;
    font-weight: 100;
    font-size: 2em;
    padding-top: 1em;

}




/*NYESTE PROJEKT*/

.projektListview {
    background-color: rgba(176, 119, 98, 0.71);
    margin-bottom: 70px

}

.projektListview p {

    padding: 4vw;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
}

.projektListview h1 {
    font-weight: 300;
    font-size: 1.5em;

    text-align: center;
    font-family: 'Heebo', sans-serif;
    margin-top: 9vw;
    margin-bottom: -8vw;

}

.projektListview img {
height: 100%;
    width: 100%;
    display: block;

}


/*VIDEO*/

.videoListview p {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 40px
}

a {
    text-decoration: none;
    color: black;
}

.videoListview iframe {
    width: 100%;
}





@media screen and (min-width:767px) {

.mobil_photo{
   display: none;
}


    /*slideshow*/

.slideshow {
    max-width: 1100px;
    display: block;
    margin: auto;


}

.slideshow img {
    width: 100%;
}

.slideNumber {
    color: #fFF;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: transparent;
}

.slideText {
    color: #FFF;
    font-size: 15px;
    padding: 20px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    margin: 0 20px;
    background-color: transparent;
}

.prev:hover,
.next:hover {
    font-size: 3.2em;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slide {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}



    /*NYESTE PROJEKT*/

.row1 {
    display: flex;
        padding: 20px;





    }

.projektListview img {
      flex: 50%;




    }

.column {
   flex: 50%;




    }

.videoListview iframe {
    width: 100%;
}

}

@media screen and (min-width:1100px) {
        /*slideshow*/

.slideshow {
    max-width: 1400px;
    display: block;
    margin: auto;


}




    .stylingeventListview {
        text-align: left;
        padding: 2vw;
        margin: 3vw;
        font-size: 1em;


    }

     .videoListview iframe {
        width: 50%;
        height: 500px;

    }



    .projektListview p {
        font-size: 1.2em;



    }





}

@media screen and (min-width:1300px) {

    .slideshow {
    max-width: 1600px;
    display: block;
    margin: auto;


}



    .stylingeventListview {
        text-align: left;
        padding-top: 10vw;
        padding-left: 18vw;
        padding-right: 18vw;
        padding-bottom: 10vw;
        margin: 3vw;

        margin-top: -5vw;


    }


    .projektListview p {
        font-size: 1.2em;



    }

    .videoListview p {

        font-size: 1.3em;

    }
    .videoListview iframe {
        width: 50%;
        height: 500px;

    }

}


/*  INTERAKTIV SVG*/
@media only screen and (max-width:793px) {

    #santa_container {
        display: none;
    }
}

#santa_container {
    position: absolute;
    top: auto;
    right: 40px;
}

#santa_sprite {
    background-image: url(../nisse-01.svg);
    background-size: 200% 100%;

    width: 15vw;
    height: 22vw;

    -webkit-animation-name: animation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: steps(2);
    /* Safari 4.0 - 8.0 */

    animation-name: animation;

    animation-fill-mode: both;


    animation-iteration-count: infinite;




}

@-webkit-keyframes animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;


    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
}

.tooltip .tooltiptext {

    font-family: 'Heebo', sans-serif;
    font-weight: 100;

    visibility: hidden;
    width: 220px;
    background-color: #6CB4BE;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: -80%;
    margin-left: 60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}





/*    --------til toppen knappen----------*/

#button {
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;

    outline: none;
    background-color: #E6C9C7;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
