
.image {
    width: 100%;
}

.omListview {
    background-color: #E9B935;
    padding: 2em;
}

h2 {
    color: #0B584D;
    font-weight: 100;
}

p {
    color: white;
    font-weight: 300;
}

@media screen and (min-width:500px){
    .column{
        padding-left: 5em;
        padding-right: 5em;
    }

    .column1{
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (min-width:768px) {

    .column{
        padding: 0em;
    }

    .column1{
        padding-left: 0em;
        padding-right: 0em;
    }

   .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .image {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .column1 {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: 1em;
    }

}

@media screen and (min-width:1000px){
    .column{
        padding: 5em;
    }

    .column1{
        padding-top: 5em;
    }
}


/*    --------til toppen knappen----------*/

#button {
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;

    outline: none;
    background-color: #E6C9C7;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
