
.image {
    width: 100%;
}

.omListview {
background-color: #6C9A95;


}

.row {

      -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;

}

h2 {
    color: #0B584D;
    font-family: 'Heebo', sans-serif;
    padding: 10px 10px;

}

p {
    color: white;
    font-weight: 300;
 font-size: 1em;
    font-family: 'Heebo', sans-serif;
     padding: 10px 10px;
}




@media screen and (min-width:1000px){
.row {

      -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;

}

p {
   font-size: 1em;


     padding: 20px 0px;
}

h2 {
   display: none;



}

}




/*    --------til toppen knappen----------*/

#button {
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;

    outline: none;
    background-color: #E6C9C7;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
