
.eventContainer{
    background-color: #e8b931;
    padding-bottom: 2em;
}

@media screen and (min-width:640px){
    .eventContainer{
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media screen and (min-width:1000px){
    .eventContainer{
        margin-left: 7em;
        margin-right: 7em;
    }
}

@media screen and (min-width:1200px){
    .eventContainer{
        margin-left: 15em;
        margin-right: 15em;
    }
}

.data-navn{
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    font-size: 1.6em;
    color: #005860;
}

.data-langbeskrivelse{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.5em;
}

.tilbage{
    border: 1px solid white;
    font-family: 'heebo', sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 2em;
    margin-top: 1em;
    background-color: #e8b931;
    color: white;
}

/*----------------slideshow---------------------*/

img{
    width: 100%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

@media screen and (min-width:640px){
    .slideshow-container{
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media screen and (min-width:1000px){
    .slideshow-container{
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media screen and (min-width:1200px){
    .eventContainer{
        margin-left: 15em;
        margin-right: 15em;
    }
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 20px 20px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*----------til toppen knap-----------*/

#button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
