    /*   INFORMATIONS ALERT*/
.alert {
  padding: 30px;
  background-color: #005860;
  color: white;

}

.alert p{
    font-size: 1.5em;
    color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;

  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;
}



     /*   MODAL*/

.modal_image{
    width: 100%;

}

#modal {
         width: 100%;
         height: 50%;
         position: fixed;
         background-color: white;
         text-align: center;
         /** skjuler den **/
         transition: 0.1s;
         opacity: 0;
         pointer-events: none;
         z-index: 99;






     }

#modal_content {
         width: 100%;
         height: 95vh;
         background-color: white;
         overflow: scroll;



     }

.modal_langbeskrivelse p{
          font-family: 'Heebo', sans-serif;
         font-weight: 300;
         color: rgba(0, 0, 0, 0.56);
             margin-top:0;
             font-size: 1em;
             padding: 40px 40px;

         }

.modal_pris{


         font-weight: 300;
         color: rgba(0, 0, 0, 0.56);
         text-decoration: none;
         font-size: 2em;
         text-align: center;
         margin-bottom: 10px;


}

.modal_navn{
           font-family: 'Heebo', sans-serif;
         font-weight: 600;
         color: rgba(0, 0, 0, 0.56);
             margin-top:0;
             font-size: 2em;
             padding: 40px 40px;
    }


#modal.vis {

         opacity: 1;
         pointer-events: all;
         top: 0;


     }


.modal_close {
        padding: 10px 10px;
  color: black;
border: none;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
     }

.kob {
         text-decoration: none;
     }

.kobet {
         padding: 10px 20px;
         font-family: 'Heebo', sans-serif;
         font-weight: 300;
         font-size: 1em;
         text-decoration: none;

         margin: 0 auto;

         background-color: white;
         color: rgba(0, 0, 0, 0.56);
         border: 0.1px solid rgba(0, 0, 0, 0.56);



         display: block;
         margin-bottom: 0.4em;
        cursor: pointer;
     }



  /*   MODAL RESPONSIV*/

 @media screen and (min-width:560px) {

.modal_image{
    width: 50%;
    height: 50%;
}


#modal_content {
         width: 100%;
         height: 200%;
         background-color: white;
         overflow: scroll;



     }

.modal_close {
        padding: 10px 10px;
  color: black;

  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
     }








     }

@media screen and  (min-width:1000px) {
    .modal_image{
    width: 50%;
    height: 50%;
}


.desktop_modal {
      column-count: 2;


      -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
  -moz-column-gap: 50px; /* Firefox */
  column-gap: 50px;



     }

    .modal_langbeskrivelse p{
             margin-top:0;
             font-size: 1em;
             padding: 40px 40px;
         }

    .modal_navn{
             margin-top:0;
             font-size: 2em;
         }

    .modal_pris{



         font-size: 2em;
         text-align: center
         margin-left: 360px;
    }

    .modal_close {
        padding: 10px 10px;
  color: black;

  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
     }
}


     /*   NAVIGATION*/


.menu_item{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.56);
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    margin-bottom: 1em;
    border: none;
    background-color: none;
    cursor: pointer;
    background-color: none;


}

.knapper {
text-align: center;

     }

p {
         font-family: 'Heebo', sans-serif;
         font-weight: 300;
         color: rgba(0, 0, 0, 0.56);
         text-decoration: none;
         font-size: 1 em;
        margin-top: 10px;
        text-align: center;
     }

h1 {
         font-family: 'Heebo', sans-serif;
         font-weight: 300;
         color: rgba(0, 0, 0, 0.56);
         text-decoration: none;
         font-size: 2em;
         text-align: center;

     }

.menu_item:hover {
         text-decoration: underline;
     }


     /* PRODUKTER*/

.image {

         width: 100%;




     }

.vare_container {
         font-family: 'Heebo', sans-serif;
         display: inline-table;
         padding: 20px 20px;
         margin: 20px 20px;
         cursor: pointer;





     }

.pris {

         font-weight: 300;
         color: rgba(0, 0, 0, 0.56);
         text-decoration: none;
         font-size: 1em;
         text-align: center;
         margin-bottom: 10px;
     }


.title {
         text-align: center;
         font-family: 'Heebo', sans-serif;
         font-weight: 300;


         color: black;
         text-decoration: none;
         font-size: 1.5em;
     }

.column {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;



     }

@media screen and (min-width:695px) {

     .column {
         margin: 0 auto;
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;

  -webkit-column-rule: 4px double #0B584D; /* Chrome, Safari, Opera */
  -moz-column-rule: 4px double #0B584D; /* Firefox */
  column-rule: 4px double #0B584D;


     }







}


@media screen and (min-width:1000px) {



    .column {
        margin: 0 auto;


      -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  -webkit-column-gap: 5%; /* Chrome, Safari, Opera */
  -moz-column-gap: 5%; /* Firefox */
  column-gap: 5%;

  -webkit-column-rule: 4px double #0B584D; /* Chrome, Safari, Opera */
  -moz-column-rule: 4px double #0B584D; /* Firefox */
  column-rule: 4px double #0B584D;


     }
}







/*    --------til toppen knappen----------*/

#button {
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;

    outline: none;
    background-color: #E6C9C7;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #button {
        bottom: 20px;
        right: 10px;
    }
}

#button:hover {
    color: darkgrey;
    font-size: 20px;
}
